.ratingStar > span{
    font-size: 25px !important; 
    @media screen and (max-width: 992px) {
    font-size: 22px !important;
    }
    @media screen and (max-width: 768px) {
        font-size: 20px !important;
    }
    @media screen and (max-width: 576px) {
        font-size: 22px !important;
    }
}