.input-range {
	box-sizing: border-box;
	width: 80%;
	margin: 0 auto;
	padding-top: 15px;

	&__track {
		background-color: #16161c;
		position: static;
	}

	&__slider {
		background: #f9ecef;
		border: 1px solid #16161c;
	}

	&__label {
		color: #16161c;
		font-size: 20px;

		&--min {
			display: none;
			bottom: -1px;
			top: 50%;
			transform: translateY(-50%);
			left: -10%;
		}

		&--max {
			display: none;
			bottom: -1px;
			top: 50%;
			transform: translateY(-50%);
			right: -15%;
		}

		&--value {
			top: -36px;
		}
	}




}