.image-gallery-content{
    max-width: 500px;
    .image-gallery-slide-wrapper.left{
        .image-gallery-left-nav, .image-gallery-right-nav {
            padding: 0;
            &:hover{
                color: #16161c;
            }
            .image-gallery-svg{
                height: 80px;
                width: 40px;
                padding: 0 15px;
                @media screen and (max-width: 992px) {
                    height: 60px;
                    width: 30px;
                    padding: 0 15px;

                }
                @media screen and (max-width: 768px) {
                    height: 40px;
                    width: 20px;
                    padding: 0 10px;
                }
                @media screen and (max-width: 576px) {
                    height: 20px;
                    width: 10px;
                    padding: 0 5px;
                }
                @media screen and (max-width: 480px) {
                    height: 30px;
                    width: 15px;
                    padding: 0 10px;
                }
                &:hover{
                    color: #16161c;
                }
            }   
        }
        @media screen and (max-width: 480px) {
            width: 100% !important;
        }
        .image-gallery-fullscreen-button{
            &:hover {
                color: #16161c;
            }
            @media screen and (max-width: 768px) {
                padding: 5px;
            }

            @media screen and (max-width: 576px) {
                padding: 5px;
                .image-gallery-svg{
                    width: 10px;
                    height: 10px;
                }
            }
            @media screen and (max-width: 480px) {
                padding: 10px;
                .image-gallery-svg{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    } 
    .image-gallery-thumbnails-wrapper.left {
        @media screen and (max-width: 992px) {
                max-height: 450px !important;
            }
            @media screen and (max-width: 768px) {
                max-height: 340px !important;
            }
            @media screen and (max-width: 576px) {
                max-height: 222px !important;
            }
            @media screen and (max-width: 480px) {
                display: none;
            }
    }
    .image-gallery-thumbnail{
        &:hover, &.active, &:focus{
            border: 4px solid #16161c !important;
        }
        @media screen and (max-width: 768px) {
            &:hover, &.active, &:focus{
                border: 2px solid #16161c !important;
            }
        }
            
    }

}